.header{
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
}
.label{
    font-weight: 800;
    font-size: x-large;
    font-style:italic;
}
.close{
    border:none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:burlywood
}
.cartItems{
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
}
.details{
    height: 5em;
    width: 10em;
}
.title{
    font-weight: 700;
    font-size: 18px;
}
.author{
    font-size: 13px;
}
.price{
    font-size: 15px;
}
.counter{
    display: flex;
    justify-content: space-between;
}
.count{
    padding: 1em;
    font-weight: 700;
}
.btn{
    margin-top: 0.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noItems{
    display: flex;
    justify-content: center;
    padding-top: 10em;
}
.noItems p {
    font-size: 2em;
    font-weight: 800;
}