.item{
    flex: 0 0 20%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.new{
    border-radius: 1em;
    position: absolute;
    height: 5%;
    width: 28%;
    top:6.5%;
    left: 8%;
    background-color:crimson;
    display: flex;
    justify-content: center;
}
.new p{
font-size: 1.1em;
color: gold;
}
.divImage{
    box-shadow: 0 0 1.3em gold;
    margin-top: 2em;
}

.image{ 
    height: 350px;
}
.divImage :hover{
    transform: scale(1.03);
    transition: transform 333ms ease;
}


.details{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 15em;
}
.divButton{
    display: flex;
    justify-content: center;
    padding-top: 0.9em;
}
.btn{
    height: 2em;
    border: none;
    border-radius: 3em;
    background-color: crimson;
    color: wheat;
}